<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <!-- autoplay not working. look into it -->
    <ion-slides autoplay="3000" pager>
      <ion-slide *ngFor="let number of [1,2,3,4]">
        <img src="./assets/images/{{number}}.jpg" />
      </ion-slide>
    </ion-slides>
  </ion-card>
</ion-content>
